body {
    background-color: white;
}

h1 {
    color: purple;
    text-align: left;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h2 {
    color: #440000;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: #440000;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: black;
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    color: black;
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: red;
}
